.section-top {
  padding: 2px 5px 2px 5px;
  margin: 20px 15px 0 15px;
}

.section {
  padding: 2px 5px 5px 5px;
  margin: 0 15px 0 15px;
}

.section-steps, .section-transportation {
  padding: 2px 5px 2px 5px;
  margin: 0 15px 0 15px;
}

.section-rules {
  padding: 2px 5px 2px 5px;
  margin: 20px 25px 0 25px;
}

.title {
  margin: 50px 0 20px 0; 
  font-size: 21px;
  font-weight: 700;
}

.container-col-title {
  margin: 10px 0 20px 0; 
  font-size: 18px;
  font-weight: 700;
}

.navbar-div-container {
  margin-left: -8px;
}

.navbar-div {
  margin-left: 15px;
}

.steps-div {
  padding-left: 10px;
}

.introjs-helperNumberLayer {
  width: 30px;
  height: 30px;
}

.rules-div {
  padding: 2px 0 20px 0;
}

.rules-insurance-table {
  max-width: 300px;
}

.rules-insurance-table-div {
  position: relative;
  margin: 15px 0;
  padding: 25px 19px 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  max-width: 320px;
}

#scroll-to-top {
  width: 112px; 
  height: 111px; 
  position: fixed; 
  right: 0px; 
  bottom: 0px; 
  display: none; 
  cursor: pointer;
}

.map-div {
  max-width: 580px;
  height: 350px;
  margin: 0px auto;
  position: relative;
  background-color: rgb(229, 227, 223);
  overflow: hidden;
  -webkit-transform: translateZ(0);
}

.contact-section-top {
  padding: 0 10px;
}

.contact-section-div {
  padding: 0 20px;
}

.contact-section-col {
  padding: 2px 5px;
  margin: 0 15px;
}

.contact-form-div {
  padding: 0 0 20px 0;
}

.contact-input-div {
  max-width: 330px;
}

.contact-input {
  width: 100%;
}

.contact-error-msg {
  color: #b94a48;
  font-size: 12px;
}

.send-msg-div {
  padding: 20px 0 0 0;
}

.confirm-div {
  padding: 20px 0 0 0;
}

.contact-captcha-widget {
  padding: 20px 0 0 0;
}

.sent-result-msg {
  padding-bottom: 20px;
}

.sent-result-err-msg {
  color: #b94a48;
}

.product-section {
  max-width: 850px;
  height: auto;
  overflow: auto;
  min-height: 400px;
  margin: 10px auto;
  background-color: #fafafa;
  border: #ccc 1px dotted;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.grid, .list {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 25px;
  height: 25px;
  margin-left: 15px;
  float: left;
  cursor: pointer;
  padding: 5px;
}

.grid{background: url(/img/grid.png) 50% no-repeat;}
.grid:hover{background: #7eb800 url(/img/gridw.png) 50% no-repeat;}
.grid-active{ background: #039fd3 url(/img/gridw.png) 50% no-repeat; }

.list{background:  url(/img/list.png) 50% no-repeat;}
.list:hover{background: #7eb800 url(/img/listw.png) 50% no-repeat;}
.list-active{background: #039fd3 url(/img/listw.png) 50% no-repeat;}

.prod-box {
  max-width: 260px;
  height: auto;
  padding: 10px;
  background-color: #fff;
  margin: 15px;
  float: left;
  text-align: center;
}

.prod-box-list {
  min-height: 170px;
  width: auto;
  margin: 15px;
  padding: 10px;
  background-color: #fff;
  overflow: hidden;
}

.prod-box-img-div {
  text-align: center;
}

.prod-box-img {
  max-width: 100% !important;
  height:auto;
  display:block;
}

.prod-box-list .prod-box-img-div {
  padding: 5px 0 0 20px;
}

.prod-box-list img:first-child {
  width: 190px;
  float: left;
}

.prod-box-title {
  padding: 5px 0;
  font-weight: bold;
  text-align: left;
}

.prod-box-list .prod-box-title {
  text-decoration: none;
  float: left;
  padding: 0 10px;
  margin: 0 10px;
  color: #3c2e25;
  font: italic normal 22px georgia;
}

.prod-box-price {
  text-align: left;
}

.prod-box-list .prod-box-price {
  text-decoration: none;
  float: left;
  padding: 0 10px;
  margin: 0 10px;
  color: #3c2e25;
}

.prod-box-spec {
  text-align: left;
}

.prod-box-list .prod-box-spec {
  min-width: 200px;
  float: left;
  padding: 0 10px;
  margin: 0 10px;
}

.clear {
  clear: both;
}

.shadow {
  -webkit-box-shadow: 0px 0px 18px rgba(50, 50, 50, 0.31);
  -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.31);
  box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.31);
}

.transportation-terms {
  font-size: small;
  font-style: italic;
  padding: 20px 0;
}

.transportation-terms p {
  font-weight: bold;
}
