.section-top {
  padding: 30px 30px 30px 30px;
}

.section {
  padding: 15px 30px 15px 30px;
}

.title {
  margin: 50px 0 20px 0; 
  font-size: 21px;
  font-weight: 700;
}

.container-col-title {
  margin: 10px 0 20px 0; 
  font-size: 18px;
  font-weight: 700;
}

.navbar-div {
  margin-left: 15px;
}

.section-steps {
  padding: 15px 30px 15px 30px;
  margin: 0 30px 0 30px;
}

.introjs-helperNumberLayer {
  width: 30px;
  height: 30px;
}