.section-top {
  padding: 2px 5px 2px 5px;
  margin: 20px 15px 0 15px;
}

.section {
  padding: 2px 5px 5px 5px;
  margin: 0 15px 0 15px;
}

.section-steps {
  padding: 2px 5px 2px 5px;
  margin: 0 15px 0 15px;
}

.section-rules {
  padding: 2px 5px 2px 5px;
  margin: 20px 25px 0 25px;
}

.title {
  margin: 50px 0 20px 0; 
  font-size: 21px;
  font-weight: 700;
}

.container-col-title {
  margin: 10px 0 20px 0; 
  font-size: 18px;
  font-weight: 700;
}

.navbar-div-container {
  margin-left: -8px;
}

.navbar-div {
  margin-left: 15px;
}

.steps-div {
  padding-left: 10px;
}

.introjs-helperNumberLayer {
  width: 30px;
  height: 30px;
}

.rules-div {
  padding: 2px 0 20px 0;
}

.rules-insurance-table {
  max-width: 300px;
}

.rules-insurance-table-div {
  position: relative;
  margin: 15px 0;
  padding: 25px 19px 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  max-width: 320px;
}

#scroll-to-top {
  width: 112px; 
  height: 111px; 
  position: fixed; 
  right: 0px; 
  bottom: 0px; 
  display: none; 
  cursor: pointer;
}

.map-div {
  max-width: 580px;
  height: 350px;
  margin: 0px auto;
  position: relative;
  background-color: rgb(229, 227, 223);
  overflow: hidden;
  -webkit-transform: translateZ(0);
}

.contact-section-top {
  padding: 0 10px;
}

.contact-section-div {
  padding: 0 20px;
}

.contact-section-col {
  padding: 2px 5px;
  margin: 0 15px;
}

.contact-form-div {
  padding: 0 0 20px 0;
}

.contact-input-div {
  max-width: 330px;
}

.contact-input {
  width: 100%;
}

.contact-error-msg {
  color: #b94a48;
  font-size: 12px;
}

.send-msg-div {
  padding: 20px 0 0 0;
}

.confirm-div {
  padding: 20px 0 0 0;
}

.contact-captcha-widget {
  padding: 20px 0 0 0;
}

.sent-result-msg {
  padding-bottom: 20px;
}

.sent-result-err-msg {
  color: #b94a48;
}